body {
    font: 16px 'Nunito Sans', sans-serif;
    background-color: #f7f8fc;
    color: #333;
    margin: 0;
    padding: 0;
}

a, .btn-primary {
    color: #fff;
    text-decoration: none;
}

a:hover, .btn-primary:hover {
    background-color: #365981;
    color: #A0E6D6;
}

.navbar {
    background-color: #365981 !important;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 17px;
    font-family: 'Arial', sans-serif;
}

.navbar-brand, .nav-link, .navbar .navbar-brand, .navbar .nav-link {
    color: #A0E6D6;
    font-weight: bold;
    transition: color 0.2s;
}

.navbar .navbar-brand:hover, .navbar .nav-link:hover {
    color: #EAF1E0;
}

.navbar-toggler {
    border-color: rgba(150,123,183);
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.card {
    width: 100%; /* Use 100% of the column width */
    max-width: 380px; /* Slightly larger card */
    margin: 0 auto 20px; /* Centered with margin at the bottom */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #fff;
    transition: transform 0.3s ease; /* Smooth transform transition */
}

.card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add box-shadow transition */
}

.card-body {
    padding: 15px;
    padding-top: 20px;
}

.card .user-info {
    display: flex;
    justify-content: space-between; /* Adjust this to manage space between author and date */
    align-items: center;
    width: 100%;
}

.card .user-avatar {
    font-size: 1.6rem; /* Adjusting the font size of the avatar for closer proximity */
    color: #365981;
    margin-right: 3px; /* Reduced space to the right of the avatar */
}

.card .user-name {
    font-weight: none;
    margin: 0; /* Removes additional margin */
    font-size: 1rem; /* Adjust font size as needed */
    color: #000;
    flex-grow: 0; /* Allows the name to fill the space, pushing the date to the right */
}

.card .post-date {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: #6c757d;
}

.card .post-date i {
    margin-right: 5px;
    font-size: 1rem;
}


/* Title spacing */
.card .card-title {
    display: block;
    font-size: 1.25rem; /* Adjusted font size for better visibility */
    font-weight: bold; /* Make sure the title is bold */
    color: #333; /* Ensure the color is set correctly for visibility */
    margin-top: 20px !important;
    margin-bottom: 1rem !important;
}


/* Text and icon section */
.card .card-text {
    font-size: 1rem; /* Maintain readability */
    margin-top: 0.5rem;
    margin-bottom: 0.8rem; /* Space before the icons */
}

.icon-actions {
    display: flex;
    justify-content: flex-end; /* Align icons to the right */
    padding-top: 0.5rem; /* Ensure there's space between text and icons */
}

@media (max-width: 768px) {
    .card {
        max-width: none; /* Full width on smaller screens */
    }
}

.icon-actions a {
    display: inline-flex; /* Enables flexbox properties for the link */
    align-items: center; /* Center aligns the icon vertically */
    justify-content: center; /* Center aligns the icon horizontally */
    width: 36px; /* Width of the clickable area */
    height: 36px; /* Height of the clickable area */
    border-radius: 50%; /* Makes the clickable area circular */
    color: #365981; /* Default icon color */
    background-color: transparent; /* Default background */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions for background and color */
}
.icon-link {
    color: #365981;
    font-size: 1.5rem; /* Slightly larger icons */
    margin-left: 10px;
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

.icon-actions a:hover {
    color: #0fadac; /* Icon color on hover */
}

.icon-actions a {
    color: #0077B6; /* Icon color */
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

.icon-actions a.delete:hover {
    color: #dd1c3e;
}

.fas {
    font-size: 1.4rem;
    cursor: pointer; 
}

.edit-blog-container, .form-container, .jumbotron {
    max-width: auto;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    color: #333;
    background-color: #fff;
}

.jumbotron .btn:hover, .jumbotron .btn:focus, .jumbotron .btn-primary:hover {
    background-color: #0077B6;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

/* Specific Styles for Edit Page */
.edit-blog-container {
    max-width: 800px;
    margin: 40px auto; /* Increase top and bottom margin */
    padding: 40px; /* Increase padding for more space inside */
    box-shadow: 0 5px 15px rgba(0,0,0,0.2); /* More pronounced shadow */
    border-radius: 8px; /* Ensure there's a border-radius */
    color: #333;
    background-color: #fff; /* Background color */
    border: 1px solid #ddd; /* Optional: adds a subtle border for depth */
}

.edit-blog-header {
    margin-bottom: 30px;
    text-align: center;
}
.edit-form .form-group {
    margin-bottom: 25px;
}
.edit-form label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}
.edit-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
}

/* Common Styles for Edit and Delete Pages */
.form-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    color: #333;
    background-color: #fff;
}

.form-header {
    margin-bottom: 30px;
    text-align: center;
}

.form-body .form-group {
    margin-bottom: 25px;
}

.form-body label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.form-actions button[type="submit"], .form-actions a {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px; /* Space between buttons */
}

/* Specific Styles for Delete Page */
.delete-warning {
    color: #dc3545;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

/* Adjusting the readonly inputs and textareas to appear less editable */
.form-container input[readonly], .form-container textarea[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

.jumbotron {
    padding: 60px 30px; /* Increases padding */
    margin-top: 30px; /* Adds some space at the top */
    background-color: rgba(255, 255, 255, 0.9); /* Light background with a bit of transparency */
    border-radius: 15px; /* Softens the corners */
    color: #333; /* Dark text for readability */
    box-shadow: 0 4px 10px rgba(0,0,0,0.2); /* Subtle shadow for depth */
}

.jumbotron h1, .jumbotron p {
    text-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Slight text shadow for better legibility */
}

.jumbotron .btn {
    background-color: #A0e6d6; /* Custom button color */
    color: #365981;
    border: none;
    padding: 10px 20px; /* Larger button padding */
    font-size: 18px; /* Larger font size */
    border-radius: 8px; /* Rounded button edges */
    box-shadow: 0 4px 10px rgba(0,0,0,0.2); /* Button shadow for depth */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions for hover effects */
}

.jumbotron .btn:hover, .jumbotron .btn:focus {
    background-color: #365981; /* Lighter color on hover/focus */
    box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* Slightly larger shadow on hover/focus for a "lifting" effect */
    color: #a0e6d6;
    text-decoration: none;
    border: none;
}

.jumbotron .btn-primary:hover {
    background-color: #365981; /* Custom button color */
}

/* Footer Styles */
footer {
    background-color: #003366;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
    bottom: 0;
    width: 100%;
}

.title-text-divider {
    border-top: 2px solid #FB7941; /* Light grey color for a soft divider */
    margin-top: 0rem; /* Reduced top margin for close spacing to the title */
    margin-bottom: 1.5rem; /* Larger bottom margin to separate title from text */
}
