<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body>
    <% include ./partials/navbar %>
    <div class="container edit-blog-container">
        <h1 class="title-spacing-add"><%= title %></h1>
        <form action="/blogAdd/" method="post" class="edit-form">
            <div class="form-group">
                <label for="blogTitle">Title:</label>
                <input type="text" class="form-control" id="blogTitle" name="blogTitle" required>
            </div>
            <div class="form-group">
                <label for="blogText">Body:</label>
                <textarea class="form-control" id="blogText" name="blogText" rows="5" required></textarea>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Add Post</button>
            </div>
        </form>
    </div>
    <% include ./partials/scripts %>
</body>
</html>