<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog Edit</title>
        
        <link rel='stylesheet' href="/bootstrap/css/bootstrap.min.css">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    </head>
    <body>
        <div class="container">
        <% include ./navbar %>
        <h1 class="title-spacing">Edit Blog</h1>
        <p>Blog editing under construction</p>
        </div>
    </body>
    <script src = "/bootstrap/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</html>