<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog Delete</title>
        
        <link rel='stylesheet' href="/bootstrap/css/bootstrap.min.css">
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <% include ./navbar %>
        <div class="container">
        <h1 class="title-spacing">Delete Blog</h1>
        <p>Blog Deletion under construction</p>
        </div>
    </body>
    <script src = "/bootstrap/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</html>