<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        
        <link rel='stylesheet' href="/bootstrap/css/bootstrap.min.css">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    </head>
    <body>
        <% include ./partials/navbar %>
        <div class="container">

        <h1 class="title-spacing"><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <p> This is my first blog site. This site is currently under construction. In about few
            weeks, this site is going to look quite different.
        </p>
    </div>
    </body>
    <script src = "/bootstrap/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</html>
